{% extends '@Backoffice/base.html.twig' %}
{% block content %}
    <h1>Facture</h1>
    <link href="{{ asset('css/bootstrap2.min.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset('css/font-awesome.css')}}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/style.css')}}" rel="stylesheet">
    <link href="{{ asset('css/style-responsive.css')}}" rel="stylesheet">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ asset('css/jquery.fileupload.css')}}">
    <link rel="stylesheet" href="{{ asset('css/jquery.fileupload-ui.css')}}">
    <table>
        <tbody>
            <tr>
                <th>Idfacture</th>
                <td>{{ facture.idFacture }}</td>
            </tr>
            <tr>
                <th>Employeeid</th>
                <td>{{ facture.employeeId }}</td>
            </tr>
            <tr>
                <th>Fournisseurid</th>
                <td>{{ facture.fournisseurId }}</td>
            </tr>
            <tr>
                <th>Typeproduct</th>
                <td>{{ facture.typeProduct }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ facture.montant }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('facture_edit', { 'idFacture': facture.idFacture }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete"class="btn-facebook">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
